In [1]:
import pandas as pd
import numpy as np

In [4]:
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [5]:
df = pd.read_csv('iris.csv')

In [6]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [10]:
df.shape

(150, 5)

In [11]:
print(df.groupby('species').size())

species
setosa        50
versicolor    50
virginica     50
dtype: int64

In [14]:
array = df.values
X = array[:,0:4]
Y = array[:,4]

In [15]:
validation_size = 0.20
seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(
    X, Y, test_size=validation_size, random_state=seed
)

In [16]:
from sklearn.linear_model import LogisticRegression
logit = LogisticRegression()

In [17]:
logit.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [18]:
print('accuracy :', logit.score(X_validation,Y_validation))

accuracy : 0.8

In [19]:
logit.predict(X_validation)

array(['virginica', 'virginica', 'setosa', 'virginica', 'virginica',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'versicolor',
       'virginica', 'virginica', 'setosa', 'virginica', 'setosa',
       'virginica', 'virginica', 'virginica', 'setosa', 'setosa',
       'versicolor', 'virginica', 'versicolor', 'virginica', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'virginica'],
      dtype=object)

In [20]:
mysample = np.array([4.9,3.0,1.4,0.2])
ex1 = mysample.reshape(1,-1)

In [21]:
ex1

array([[4.9, 3. , 1.4, 0.2]])

In [22]:
logit.predict(ex1)

array(['setosa'], dtype=object)

In [24]:
from sklearn.externals import joblib

In [25]:
joblib.dump(logit, 'logit_model.pkl')

['logit_model.pkl']

In [26]:
logit_model = joblib.load('logit_model.pkl')

In [27]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [28]:
ex2 = np.array([6.2,3.4,5.4,2.3]).reshape(1,-1)

In [29]:
logit_model.predict(ex2)

array(['virginica'], dtype=object)

In [31]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [32]:
knn = KNeighborsClassifier()
dtree = DecisionTreeClassifier()
svm = SVC()

In [33]:
knn.fit(X_train,Y_train)
print('accuracy :', knn.score(X_validation,Y_validation))

accuracy : 0.9

In [34]:
joblib.dump(knn, 'knn_iris.pkl')

['knn_iris.pkl']

In [35]:
dtree.fit(X_train,Y_train)
print('accuracy :', dtree.score(X_validation,Y_validation))

accuracy : 0.8666666666666667

In [36]:
joblib.dump(dtree, 'dtree_iris.pkl')

['dtree_iris.pkl']

In [37]:
svm.fit(X_train,Y_train)
print('accuracy :', svm.score(X_validation,Y_validation))

accuracy : 0.9333333333333333

In [38]:
joblib.dump(svm, 'svm_iris.pkl')

['svm_iris.pkl']